:root {
  --text-color: #212121;
  --background-color: #ffffff;
  --button-background: #2196f3;
  --button-background-std: #f5f4fa;
  --link-color: #2196f3;
  --button-color: #ffffff;
  --section-background2: #2f303a;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--background-color);
  color: #757575;
  font-size: 14px;
}
.section__top {
  background-color: var(--section-background2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 210px;
  width: 100%;
}
.section__top__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 40px;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--button-background);
  color: var(--button-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 0;
}
.section {
  margin-top: 94px;
}
.section__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0 0 50px;
}
.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

p {
  margin: 0;
}
.list__heading {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin: 0 0 10px;
}
.list__description {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.font-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  column-gap: 50px;
}

.third-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 30px 0 10px;
}
.third-header-desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}
.link {
  text-decoration: none;
  color: #757575;
}
.link:focus,
.link:hover {
  color: var(--link-color);
}
.link.active {
  color: var(--link-color);
}

.section--gray {
  background-color: #f5f4fa;
  width: 100%;
  padding: 94px 0;
}
.image__container {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
}
.section__footer {
  background-color: var(--section-background2);
  width: 100%;
  padding: 60px 0;
}
.location {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 20px 0 9px;
}
.location-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.button-grey {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  width: 121px;
  background-color: var(--button-background-std);
  border-radius: 4px;
}
.button-grey:focus,
.button-grey:hover {
  background-color: var(--button-background);
  color: var(--button-color);
  outline-style: none;
}
.button,
.button-grey {
  cursor: pointer;
  border-style: none;
}
.line {
  border: 1px solid #ececec;
}
.image-container2 {
  width: 370px;
  background-color: var(--background-color);
  border: 1px solid #eeeeee;
}
.fourth-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.fourth-header-desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}
.header {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 24px 0 25px;
}
.navigation {
  margin-right: 371px;
  margin-left: 93px;
}
.contact {
  display: flex;
  column-gap: 50px;
}
