:root {
  --text-color: #212121;
  --background-color: #ffffff;
  --button-background: #2196f3;
  --button-background-std: #f5f4fa;
  --link-color: #2196f3;
  --button-color: #ffffff;
  --section-background2: #2f303a;
  --icon-blue: #2196f3;
  --icon-grey: #afb1b8;
  --top-background: rgba(47, 48, 58, 0.4);
  --gradient-color: #2f303a66;
}
.body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--background-color);
  color: #757575;
  font-size: 14px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section-top {
  width: 100%;
  background-color: var(--section-background2);
}
.section-top > .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 200px;
  width: 1600px;
  background-color: var(--gradient-color);
  background-image: url(../images/background.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-top__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 40px;
}
.section-top__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--button-background);
  color: var(--button-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 0;
}
.section-top--line {
  display: block;
}
.section {
  padding: 94px 0;
}
.section:nth-child(2) {
  padding-bottom: 0;
}
.section__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0 0 50px;
}
.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  letter-spacing: 0.03em;
}
.list__heading {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color);
  margin: 0 0 10px;
}
.list__description {
  line-height: 1.71;
  width: 270px;
}
.list__image {
  display: block;
  margin: 0 auto;
}
.image__container {
  margin: 0;
  text-align: center;
  line-height: 1.19;
}
.image__container--heading {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  margin: 30px 0 10px;
}
.image__container--desc {
  font-size: 16px;
  padding-bottom: 16px;
  margin: 0;
}
.list_item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.link {
  text-decoration: none;
  color: #757575;
}
.link:focus,
.link:hover {
  color: var(--link-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.active {
  color: var(--link-color);
}
.list__item {
  position: relative;
}

.active::after {
  position: absolute;
  content: '';
  background: #2196f3;
  border-radius: 2px;
  border: 1px solid;
  height: 4px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(32px);
}
.section--gray {
  background-color: #f5f4fa;
  width: 100%;
  padding: 94px 0;
}
/* -----------footer section------------ */
.footer {
  background-color: var(--section-background2);
  width: 100%;
  padding: 60px 0;
}
.address {
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  width: 246px;
  margin: 0;
}
.address__location {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 20px 0 0 0;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
}
.footer__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer > .container {
  display: flex;
  column-gap: 70px;
  align-items: baseline;
}
.footer__icons {
  gap: 10px;
  width: 44px;
  height: 44px;
}
/* -----------footer section------------ */

.button--grey {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--button-background-std);
  border-radius: 4px;
  margin: 94px 0 50px;
  padding: 6px 22px;
}
.button--gap {
  column-gap: 8px;
}
.button--grey:focus,
.button--grey:hover {
  background-color: var(--button-background);
  color: var(--button-color);
  outline-style: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-top__button,
.button--grey {
  cursor: pointer;
  border-style: none;
}
.image__container2 {
  /* display: flex;
  flex-direction: column;
  flex-basis: 370px; */
  background-color: var(--background-color);
  border: 1px solid #eeeeee;
  margin: 0;
  margin-block: 0;
}
.image__container2:hover {
  cursor: pointer;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image__container2__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin: 20px 24px 4px;
  margin-block: 0;
}
.image__container2__desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin: 0 24px 20px;
}
/* -------- overlay for products --------- */
.overlay {
  position: absolute;
  width: 372px;
  height: 294px;
  overflow: hidden;
}
.overlay__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
}
.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-align: start;
  padding: 49px 45px 49px 24px;
  margin: 0;
}
.image__container2:hover .overlay__layer {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----------------------------------------- */
.container__products {
  margin-bottom: 94px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo--black {
  color: #000000;
}
.logo--white {
  color: #ffffff;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 24px 0 25px;
  gap: 93px;
}
.header__contact {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
  align-items: center;
  align-content: center;
}
.header__contact .link {
  display: flex;
}
.header__list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  column-gap: 46px;
}
/* -------------- icons ------------- */
.icon {
  display: inline-block;
  fill: var(--icon-grey);
}

.link:hover .header__icon {
  fill: var(--icon-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list__icon {
  display: flex;
  width: 270 px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  padding: 25px auto;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.icon__social {
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
  column-gap: 10px;
}
.icon__social--color {
  width: 44px;
  height: 44px;
}
.icon__social--color:hover {
  fill: var(--background-color);
  background-color: var(--icon-blue);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon__activities {
  border: 1px solid var(--icon-grey);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: var(--icon-grey);
}
.icon__activities:hover,
.icon__activities:focus {
  fill: var(--icon-blue);
  border: 1px solid var(--icon-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact .icon {
  margin-right: 10px;
}
.footer .icon {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--background-color);
}
.footer .icon:hover {
  background-color: var(--icon-blue);
  border-radius: 50%;
  fill: var(--background-color);
}
/* ---------- modal window----------- */
.is-hidden {
 visibility: hidden;
 opacity: 0;
 pointer-events: none;
}
.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}
.backdrop__modal {
  display: flex;
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--background-color);
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 9px;
  cursor: pointer;
}
/* --------------------------------- */
