:root {
  --text-color: #212121;
  --background-color: #ffffff;
  --text-selection: #2196f3;
  --button-background: #2196f3;
  --button-background-std: #f5f4fa;
  --link-color: #2196f3;
  --button-color: #ffffff;
  --section-background2: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: #757575;
  font-size: 14px;
}

.section-main {
  background-color: var(--section-background2);
  width: 1600px;
  height: 600px;
}

.section-footer {
  background-color: var(--section-background2);
  width: 1600px;
  height: 252px;
}

.list-stylization {
  list-style-type: none;
}

.first-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.font-header-style {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.third-header-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.third-header-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.header-lorem {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.lorem-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link-custom {
  text-decoration: none;
  color: #757575;
}

.link-custom:focus,
.link-custom:hover {
  color: var(--link-color);
}

.image-stylization {
  /* display: flex;
  align-items: center; */
  margin-left: auto;
  margin-right: auto;
}

.button-studio {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--button-background);
  color: var(--button-color);

  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.team-container {
  background-color: #f5f4fa;
}

.image-container {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.location {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.location-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);

  width: 121px;
  height: 38px;
  background-color: var(--button-background-std);
  border-radius: 4px;
}

.button-portfolio:focus,
.button-portfolio:hover {
  background-color: var(--button-background);
  color: var(--button-color);
  outline-style: none;
}

.button-studio,
.button-portfolio {
  cursor: pointer;
  border-style: none;
}

.line {
  border: 1px solid #ececec;
}

.image-container2 {
  width: 370px;
  height: 404px;
  background-color: var(--background-color);
  border: 1px solid #eeeeee;
}

.header-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.header-portfolio-desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-element1 {
  color: #000000;
}

.logo-element2 {
  color: #ffffff;
}
