@import '/sass/utils/variables';
@import '/sass/components/buttons';

  .body {
    font-family: $site-fonts;
    background-color: $primary-background-color;
    color: $primary-text-color;
    font-size: 14px;
  }
 