.header {
  border-bottom: 1px solid $header-border-color;
  position: relative;

  &__container {
    @include set-flex(row,flex-start);
    padding: 16px 15px;
    gap: 93px;
    min-width: 320px;
    margin: 0 auto;
  }

  &__contact {
    // display: flex;default: row (flex-direction),flex-start (justify-content), stretch (align-items)
    @include set-flex(row);
    column-gap: 50px;
    margin-left: auto;

    & .icon {
      margin-right: 10px;
    }
  }

  &__link {
    @include set-flex(row,flex-start,stretch);
  }
  
  &__list {
    @include set-flex(row,flex-start,stretch);
    @include font-atr(500,1.14,0.02em);
    color: $bolded-text-color;
    column-gap: 46px;
  }
}
// @media (max-width: 480px) {
//   .header__container {
//     padding-left: 15px;
//   }
// }