.img-container2 {
    /* display: flex;
    flex-direction: column;
    flex-basis: 370px; */
    background-color: var(--background-color);
    border: 1px solid #eeeeee;
    margin: 0;
    margin-block: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .img-container2:hover {
    cursor: pointer;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .img-container2__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
    margin: 20px 24px 4px;
  }
  .img-container2__desc {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin: 0 24px 20px;
  }
  /* -------- overlay for products --------- */
  .img-container2__overlay {
    position: absolute;
    width: 372px;
    height: 294px;
    overflow: hidden;
  }
  .img-container2__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .img-container2__text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-align: start;
    padding: 49px 45px 49px 24px;
    margin: 0;
  }
  .img-container2:hover .img-container2__layer {
    transform: translateY(0);
}