$primary-text-color:#757575;
$bolded-text-color:#212121;
$primary-background-color:#ffffff;
$section-background-color:#2f303a;
$link-text-color:#2196f3;
$button-icon-color:#2196f3;




$site-fonts: 'Roboto', 'Raleway', sans-serif;